{% extends "base.html" %}
{% block main %}
		<!--首页开始-->
			<ul class="breadcrumb">
				<li>首页<span class="divider">/</span></li>
			</ul>
			<div class="hero-unit gocenter">
				<h1>WELCOME!!!</h1>
			</div>
		<!--首页结束-->
		<script language="javascript" type="text/javascript">
		var uInfo = [];
		{% if current_user %}
		var uInfo = ['{{ current_user["adm_id"] }}', '{{ current_user["adm_user"] }}', '{{ current_user["adm_auth"] }}'];
		{% end %}
		seajs.use('/static/js/std', function(std) {std.loginDisplay(uInfo);});
		</script>
{% end %}
